@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 style="text-align: center;">🚗⚡ Experience the Future of Mobility with Tesla Rental! ⚡🚗</h3>
    <h3>Introducing the ultimate Tesla Rental app, your gateway to an electrifying journey like never before. Whether you're an EV enthusiast or a first-time Tesla driver, our app is here to revolutionize your transportation experience.</h3>
</div>
