
@{
    ViewData["Title"] = "Thanks";
}

<h1>Thanks for renting, see you next time!</h1>

<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-success" type="button">Come back to main page</a>
</div>