@model IEnumerable<TeslaDrive.Models.PalmaAirport>

@{
    ViewData["Title"] = "PalmaAirport";
}

<h1>Welcome to Palma Airport TeslaDrive!</h1>
<br/>
<h2>Pick a car you'd like to rent.</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            <p>Model</p>
        </th>
        <th>
            <p>Horsepower</p>
        </th>
        <th>
            <p>Range</p>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p id="p1">Model 3</p>
        </td>
        <td>
            <p id="p2">201</p>
        </td>
        <td>
            <p id="p3">332</p>
        </td>
        <td>
            <a type="button" class="btn btn-success" asp-controller="Rents" asp-action="Create">Rent</a>
            <a type="button" class="btn btn-info" asp-controller="Cars" asp-action="Details" asp-route-id="1">Details</a>
        </td>
    </tr>
    <tr>
        <td>
            <p id="p1">Model 3 Long Range AWD</p>
        </td>
        <td>
            <p id="p2">346</p>
        </td>
        <td>
                <p id="p3">567</p>
        </td>
        <td>
            <a type="button" class="btn btn-success" asp-controller="Rents" asp-action="Create">Rent</a>
            <a type="button" class="btn btn-info" asp-controller="Cars" asp-action="Details" asp-route-id="3">Details</a>
        </td>
        </tr>
        <tr>
            <td>
                <p id="p1">Model S Long Range</p>
            </td>
            <td>
                <p id="p2">670</p>
            </td>
            <td>
                <p id="p3">646</p>
            </td>
            <td>
                <a type="button" class="btn btn-success" asp-controller="Rents" asp-action="Create">Rent</a>
                <a type="button" class="btn btn-info" asp-controller="Cars" asp-action="Details" asp-route-id="5">Details</a>
            </td>
        </tr>
        <tr>
            <td>
                <p id="p1">Model 3 Mid Range</p>
            </td>
            <td>
                <p id="p2">258</p>
            </td>
            <td>
                <p id="p3">425</p>
            </td>
            <td>
                <a type="button" class="btn btn-success" asp-controller="Rents" asp-action="Create">Rent</a>
                <a type="button" class="btn btn-info" asp-controller="Cars" asp-action="Details" asp-route-id="7">Details</a>
            </td>
        </tr>
        <tr>
            <td>
                <p id="p1">Model S Plaid</p>
            </td>
            <td>
                <p id="p2">1035</p>
            </td>
            <td>
                <p id="p3">627</p>
            </td>
            <td>
                <a type="button" class="btn btn-success" asp-controller="Rents" asp-action="Create">Rent</a>
                <a type="button" class="btn btn-info" asp-controller="Cars" asp-action="Details" asp-route-id="9">Details</a>
            </td>
        </tr>
        <tr>
            <td>
                <p id="p1">Model X Plaid</p>
            </td>
            <td>
                <p id="p2">1019</p>
            </td>
            <td>
                <p id="p3">500</p>
            </td>
            <td>
                <a type="button" class="btn btn-dark">Unavailable</a>
            </td>
        </tr>
    </tbody>
</table>


