@model IEnumerable<TeslaDrive.Models.PalmaAirport>

@{
    ViewData["Title"] = "PalmaAirport";
}

<h1>Welcome to Palma Airport TeslaDrive!</h1>
<br/>
<h2>Pick a car you'd like to rent.</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            <p>Model</p>
        </th>
        <th>
            <p>Horsepower</p>
        </th>
        <th>
            <p>Range</p>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p>Model 3</p>
        </td>
        <td>
            <p>300</p>
        </td>
        <td>
            <p>450</p>
        </td>
        <td>
            <p>Link to rent a car</p>
        </td>
    </tr>
    </tbody>
</table>


