@model IEnumerable<TeslaDrive.Models.PalmaAirport>

@{
    ViewData["Title"] = "PalmaAirport";
}

<h1>Welcome to Palma Airport TeslaDrive!</h1>
<br/>
<h2>Pick a car you'd like to rent.</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            <p>Model</p>
        </th>
        <th>
            <p>Horsepower</p>
        </th>
        <th>
            <p>Range</p>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p>Model 3</p>
        </td>
        <td>
            <p>201</p>
        </td>
        <td>
            <p>332</p>
        </td>
        <td>
            <a type="button" class="btn btn-success" asp-controller="Cars" asp-action="Details" asp-route-id="1">Rent</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Model 3 Long Range AWD</p>
        </td>
        <td>
            <p>346></p>
        </td>
        <td>
            <p>567></p>
        </td>
        <td>
            <a type="button" class="btn btn-success" asp-controller="Cars" asp-action="Details" asp-route-id="3">Rent</a>
        </td>
        </tr>
        <tr>
            <td>
                <p>Model S Long Range</p>
            </td>
            <td>
                <p>670</p>
            </td>
            <td>
                <p>646</p>
            </td>
            <td>
                <a type="button" class="btn btn-success" asp-controller="Cars" asp-action="Details" asp-route-id="5">Rent</a>
            </td>
        </tr>
        <tr>
            <td>
                <p>Model 3 Mid Range</p>
            </td>
            <td>
                <p>258</p>
            </td>
            <td>
                <p>425</p>
            </td>
            <td>
                <a type="button" class="btn btn-success" asp-controller="Cars" asp-action="Details" asp-route-id="7">Rent</a>
            </td>
        </tr>
        <tr>
            <td>
                <p>Model S Plaid</p>
            </td>
            <td>
                <p>1035</p>
            </td>
            <td>
                <p>627</p>
            </td>
            <td>
                <a type="button" class="btn btn-success" asp-controller="Cars" asp-action="Details" asp-route-id="9">Rent</a>
            </td>
        </tr>
        <tr>
            <td>
                <p>Model X Plaid</p>
            </td>
            <td>
                <p>1019</p>
            </td>
            <td>
                <p>500</p>
            </td>
            <td>
                <a type="button" class="btn btn-success" asp-controller="Cars" asp-action="Details" asp-route-id="11">Rent</a>
            </td>
        </tr>
    </tbody>
</table>


